<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
  <title>dva2 脚手架</title>
  <link href="//cdn.bootcss.com/spinkit/1.2.5/spinkit.min.css" rel="stylesheet" media="screen">
  <link href="//cdn.bootcss.com/simditor/2.3.6/styles/simditor.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/antd/3.1.6/antd.min.css" rel="stylesheet">
  <style> html, body, #root, #app-root {height: 100%; } body {background-color: #eef4fa; } .app-loading-tip {position: absolute; margin: auto; margin-top: -100px; top: 50%; left: 0; bottom: 0; right: 0; text-align: center; color: #999; height: 150px; } .sk-wave {width: 200px;} .sk-wave.app-loading-wave .app-loading-rect {background-color: #68bf4a; margin: 0 1px; } </style>
  <link id="head-favicon" type="image/x-icon" rel="icon" href="" />
</head>
<body>
  <div id="root">
    <!-- loading 及浏览器支持判断 -->
    <style>@keyframes browser-tip {0% {opacity: 0; z-index: -1; } 10% {opacity: 0; z-index: 999999; } 50% {opacity: 1; z-index: 999999; } 90% {opacity: 1; z-index: 999999; } 100% {opacity: 0; z-index: -1; } } .browser-tip {width: 100%; line-height: 40px; height: 40px; background: #129fdd; position: fixed; top: 0; left: 0; z-index: 99; text-align: center; font-size: 14px; display: none; opacity: 1; z-index: -1; animation: browser-tip 15s ease-in infinite; color: #fff; } .browser-tip a {color: #fff; font-size: 28px; text-decoration: underline; }</style>
    <div id="browser-tip" class="browser-tip">为获取更好的用户体验，建议使用最新版本 <a href="http://down.tech.sina.com.cn/content/40975.html" target="_blank">谷歌浏览器</a> 进行浏览。</div> <div class="app-loading-tip" id="app-loading-tip"> <div class="sk-wave app-loading-wave"> <div class="app-loading-rect sk-rect sk-rect1"></div> <div class="app-loading-rect sk-rect sk-rect2"></div> <div class="app-loading-rect sk-rect sk-rect3"></div> <div class="app-loading-rect sk-rect sk-rect4"></div> <div class="app-loading-rect sk-rect sk-rect5"></div> </div> <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系统正在初始化，请等待...</div> </div>
    <script src="//cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>
    <script src="//cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.18.1/locale/zh-cn.js"></script>
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/raven.js/3.16.0/raven.min.js"></script>
    <script src="//cdn.bootcss.com/react/15.6.1/react.min.js"></script>
    <script src="//cdn.bootcss.com/react/15.6.1/react-dom.min.js"></script>
    <script src="//cdn.bootcss.com/antd/3.1.6/antd-with-locales.min.js"></script>
    <!-- for webpack externals -->

    <!-- 删除无聊的 warning -->
    <script type="text/javascript">
      const ignoreMessage = [
        'Warning',
      ];
      /* eslint-disable */
      var __oldConsoleError = window.console.error.bind(console);
      window.console.error = function(message, b) {
        if (-1 < ignoreMessage.indexOf(message)) {
          return false;
        }
        __oldConsoleError(message);
      }
      var __oldConsoleWarn = window.console.warn.bind(console);
      window.console.warn = function(message, b) {
        if (-1 < ignoreMessage.indexOf(message)) {
          return false;
        }
        __oldConsoleWarn(message);
      }
      /* eslint-enable */
      // eslint-disable-next-line
    </script>
    <script src="//cdn.bootcss.com/echarts/3.5.2/echarts.common.min.js"></script>
  </div>
</body>
<!-- 浏览器支持判断 -->
<script>
  // 必须放在最后边。而且是 body 后面
  if (document.getElementById('browser-tip')) {
    document.getElementById('browser-tip').style.display = 'block';
    if (document.getElementById('app-loading-tip')) {
      document.getElementById('app-loading-tip').style.display = 'none';
    }
  }
  // eslint-disable-next-line
</script>
</html>
